.contato-input {
   border: transparent;
   flex-grow: 1;
   margin: 10px 0px;
   height: 56px;
   width: 80vw;
   text-indent: 10px;
}
.formulario input::placeholder {
   color: var(--azul-claro);
   text-indent: 10px;
}

 .formulario input:active {
   border-bottom: solid 2px var(--azul-claro);

}
@media screen  and (min-width:1000px){
   .contato-input{
      width: 100%;
   }
}