*{
   margin: 0;
   padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cinza);
    color: var(--preto);
    cursor: pointer;
    font-family: 'Raleway';
    line-height: 1;
    width: 100vw;
}
:root{
    --azul-claro:#2A7AE4;
    --branco-medio:#fbfbfb;
    --cinza:#999999;
    --preto:#000000;

}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    max-width:100% !important;
    overflow: hidden;
    
}
 li{ 
    list-style: none;
}
span{
    padding-top: 0.5rem;
}
a{
    text-decoration: none;
}
