.menu-list-item {
   display: none;
   font-size: 14px;
   font-weight: 400;
}

.texto {
   font-weight:400;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
}

.link-ul {
   align-items: center;
   display: flex;
   font-size: 14px;
   justify-content: space-evenly;
   list-style: none;
   padding-top: 1rem;
}

.link-itens {
   text-decoration: none;
}